.ArtgProduto {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.ArtgProduto .content img {
  width: 360px;
  border-radius: 10px;
}

.ArtgProduto ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.ArtgProduto ul li img {
  width: 75px;
  border-radius: 10px;
  box-sizing: border-box;
}

.ArtgProduto ul li {
  margin-right: 20px;
}

.ArtgProduto ul li img:hover {
  border: solid #d2a86e 2px;
}

.ProdutoMobile {
  display: grid;
  align-items: center;
  justify-content: center;
}

/* @media (max-width: 914px) {
  .ArtgProduto .content img {
    width: 200px;
    border-radius: 10px;
  }
}
 */
